.banner{
    width: 100%;
    object-fit: contain;
    height: 600px;
}

.banner-content{
    position: relative;
    /* background: #1010104f; */
    padding-top: 12rem;
    padding-left: 5rem;
    padding-right: 15rem;
}
.movie-title{
    font-size:3rem;
    padding-bottom: 1rem;
}
.movie-desc{
    font-size: 1.25rem;
    padding-bottom: 1.5rem;
    max-width: 60%;
}
.btn{
    width: 120px;
    background-color: #fff;
    border: 0;
    border-radius: 3px;
    padding:1rem;
    margin-right: 1rem;
    cursor: pointer;
    line-height: 1;
    font-size: 1.1rem;
    font-weight: 600;
    opacity: 0.8;
}

.fas.fa-play, .fas.fa-info-circle{
font-size: 1.3rem;
margin-right: 0.5rem;
}

.bg-light{
    background-color: #222;    
    color: #ddd;
}

.btn:hover{
    opacity: 1;
    transition: ease-in-out 0.5s;
}
.banner-fade{
    height: 15rem;
    background: linear-gradient(180deg,transparent,rgba(37,37,37,0.5),#000);
}